@import "tailwindcss";

@config "../../tailwind.config.js";

@theme {
  --font-poppins: var(--font-poppins);
  --font-berkshire: var(--font-berkshire);
  --color-green: #49cb49;
  --color-tomato: #eb373e;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-poppins);
}

.dotted-bg {
  background-image:
    radial-gradient(rgba(0, 0, 0, 0.05) 10%, transparent 11%),
    radial-gradient(rgba(0, 0, 0, 0.05) 10%, transparent 11%);
  background-size: clamp(30px, 3vw, 60px) clamp(30px, 3vw, 60px);
  background-position:
    0 0,
    clamp(15px, 1.5vw, 30px) clamp(15px, 1.5vw, 30px);
}
