@import "tailwindcss";

@config "../../tailwind.config.js";

@theme {
  --font-poppins: var(--font-poppins);
  --font-berkshire: var(--font-berkshire);
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-poppins);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
